html {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

body {
  background-color: blanchedalmond;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  max-width: 800px;
  width: 100%;
  gap: 24px;
  
  margin: auto;
}

/* defining header  */

header {
  background-color: #8c7f6d;
  display: grid;
  grid-template-areas:
  'heading logo'
  'nav logo'
  ;
  grid-template-columns: 1fr auto;
  padding: 32px;
  gap: 16px;
}

@media (min-width: 640) {
  header {
    grid-template-areas:
    'heading nav logo'
    ;
    grid-template-columns: 2fr 1fr auto;
  }
}

header .heading {grid-area: heading; }
header .menu {grid-area: nav; }
header .logo {grid-area: logo; }


.heading {
  display: grid;
  align-content: center;
}

.heading h2 {
  color: #ffffff;
  margin: 0;
}

nav {
  display: grid;
  align-content: center;
}

nav ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

nav ul li {
  display: inline;
}

nav ul li  + li:before{
  color: #FFFFFF;
  content: " | ";
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul li a:active {
  color: #001534;
}

nav ul li a:hover {
  color: rgb(158, 3, 65);
}

.logo {
  display: grid;
  align-items: center;
}

.logo img {
  max-width: 100px;
  filter: invert(100%);
  
}
.logo img:hover {
  transition: transform 1.5s;
  cursor: pointer;
  filter: invert(25%) sepia(13%) saturate(3207%) 
  hue-rotate(1000deg) brightness(100%) contrast(100%);
}

/* Section */

section {
  visibility: hidden;
  display: grid;
  grid-template-areas:
  'image'
  'title'
  'button'
  'summary'
  ;
}

@media (min-width: 640) {
  section{
    grid-template-areas:
      'title image'
      'button image'
      'summary image'
      ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
  }

  section .image {
    grid-row: span 2;
  }
}

section .image {grid-area: image; }
section .title {grid-area: title; }
section .button {grid-area: button; }
section .summary {grid-area: summary; }

.main_card {
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
  border: solid 2px rgb(161, 134, 24);
}

@media (min-width: 800px) {
  .main_card {
    margin-left: 0;
    margin-right: 0;
  }
}

.main_card .summary {  
  text-align: center;
  font-weight: bold;
}

.main_card .title {
  text-align: center;
}

.main_card .button {
  text-align: center;
}
.main_card .button button {
  background-color: blanchedalmond;
  border: none;
}

.main_card .button img {
  max-width: 40px;
}

.main_card .button img:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
  cursor: pointer;
}

.main_card .image {
  text-align: center;
}

.main_card .image img {
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  object-fit: cover;
}

@media (min-width: 640px) {
  .main_card .summary {
    padding-right: 16px;
  }
}



.films {
  visibility: hidden;
  border: none;
  margin: 0px 0px 10px 0px;
  padding: 5px;
}

.films h2 {
  text-align: center;
  margin-top: 0;
}


/* Carousel */

.carousel {
  display: grid;
  gap: 5px;
  grid-template-areas: 'arrow_left movies_list_container arrow_right';
  grid-template-rows: auto 1fr auto;
}

.arrow.left {grid-area: arrow_left; }
.arrow.right {grid-area: arrow_right; }
.film_list_card {grid-area: movies_list_container; }

.arrow {
  display: grid;
  align-content: center;
}

.film_list_card {
  overflow: hidden;
  padding: 24px 1.6px 24px 1.6px;
}

.film_list {
  display: grid;
  align-content: center;
  width: 700%;
  gap: 16px;
  grid-template-columns: repeat(7, auto);
}

@media (min-width: 640px) {
  .film_list {
    width: 175%;
    grid-template-columns: repeat(7, auto);
  }
}

.film_img {
  text-align: center;
}

.film_img img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: 0.3s;
}

.film_img img:hover {
  transform: scale(1.1);
}

.arrow img {
  align-self: center;
  width: 20px;
  filter: opacity(0.5) drop-shadow(0 0 0 #8c7f6d);
  cursor: pointer;
  transition-duration: 0.3s;
}

.arrow.left {
  visibility: hidden;
}

.arrow img:hover {
  transform: scale(1.15);
}

.film_list {
  transition: transform 350ms ease-in-out;
  position: relative;
  left: 0px;
}


/*  Modal */

.modal {
  display: none;
  position: fixed;
  overflow: auto;
  right: 0;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color:  rgb(0,0,0);
  color: rgb(238, 185, 49);
}

.modal .modal_content {
  display: grid;
  grid-template-areas:
  'cross'
  'title'
  'parameters'
  'image'
  'cast'
  'rating'
  'summary'
  ;
  gap: 10px;
  margin: auto;
  max-width: 800px;
  padding: 16px;
}

@media (min-width: 640px) {
  .modal .modal_content {
    grid-template-areas:
    'cross cross'
    'title title'
    'parameters parameters'
    'cast image'
    'rating image'
    'summary summary'
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  auto auto auto 1fr auto;
  }
}

#cross {grid-area: cross; }
#title {grid-area: title; }
#film_desc {grid-area: parameters; }
#cast {grid-area: cast; }
#rating {grid-area: rating; }
#modal_image {grid-area: image; }
#summary {grid-area: summary; }

#cross {
  text-align: right;
}

#cross img {
  padding: 0;
  margin: 3px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: solid black 2px;
  background: rgb(238, 185, 49);
  cursor: pointer;
  transition-duration: 0.3s;
}

#cross img:hover {
  background: red;
}

#title h3 {
  text-align: center;
  margin: 0;
}

#film_desc ul {
  text-align: center;
  padding: 0;
}

#film_desc ul li{
  display: inline;
  white-space: nowrap;
}

#film_desc ul li  + li:before{
  content: " | ";
  padding: 0 10px;
}

#cast ul {
  padding: 0;
}

#cast li {
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

#ratings ul {
  padding: 0;
}

#ratings li {
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

#modal_image {
  text-align: center;
}

#modal_image img {
  width: 100%;
  max-width: 250px;
}

/* Scroll to top btn */

#topBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  box-shadow: 2px 3px 4px;
  outline: none; 
  background-color: blanchedalmond;
  color: #8c7f6d; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 10px; 
  font-size: 12px;
  font-weight: bold;
}

#topBtn:hover {
  background-color: #8c7f6d;
  color: #ffffff;
  box-shadow: 2px 3px 4px;
}

/* Footer */ 

footer {
  border-top: 1px solid red;
  text-align: center;
  font-size: 11px;
  color:red;
}

